In [29]:
import duckdb

# Connect to your DuckDB database
conn = duckdb.connect('/Users/bruno/dbt_testing/jaffle_shop/jaffle_shop.duckdb')

# Query to list all tables in the database
tables_query = """
SELECT table_name 
FROM information_schema.tables 
WHERE table_schema = 'main'
"""

# Execute the query and fetch results
tables = conn.execute(tables_query).fetchall()

# Display the tables
print("Tables in the database:")
for table in tables:
    print(f"- {table[0]}")

# Optional: Get more detailed information about each table
print("\nDetailed table information:")
for table in tables:
    table_name = table[0]
    print(f"\nTable: {table_name}")
    
    # Get column information
    columns_query = f"""
    SELECT column_name, data_type 
    FROM information_schema.columns 
    WHERE table_name = '{table_name}' AND table_schema = 'main'
    """
    columns = conn.execute(columns_query).fetchall()
    
    print("Columns:")
    for column in columns:
        print(f"  - {column[0]} ({column[1]})")
    
    # Preview data (first 5 rows)
    print("Preview:")
    preview = conn.execute(f"SELECT * FROM {table_name} LIMIT 5").fetchall()
    for row in preview:
        print(f"  {row}")

# Close the connection
conn.close()

Tables in the database:
- customers
- orders
- raw_customers
- raw_incremental_test
- raw_orders
- raw_payments
- stg_customers
- stg_orders
- stg_payments

Detailed table information:

Table: customers
Columns:
  - customer_id (INTEGER)
  - first_name (VARCHAR)
  - last_name (VARCHAR)
  - first_order (DATE)
  - most_recent_order (DATE)
  - number_of_orders (BIGINT)
  - customer_lifetime_value (DOUBLE)
Preview:
  (1, 'Michael', 'P.', datetime.date(2018, 1, 1), datetime.date(2018, 2, 10), 2, 33.0)
  (2, 'Shawn', 'M.', datetime.date(2018, 1, 11), datetime.date(2018, 1, 11), 1, 23.0)
  (3, 'Kathleen', 'P.', datetime.date(2018, 1, 2), datetime.date(2018, 3, 11), 3, 65.0)
  (6, 'Sarah', 'R.', datetime.date(2018, 2, 19), datetime.date(2018, 2, 19), 1, 8.0)
  (7, 'Martin', 'M.', datetime.date(2018, 1, 14), datetime.date(2018, 1, 14), 1, 26.0)

Table: orders
Columns:
  - order_id (INTEGER)
  - customer_id (INTEGER)
  - order_date (DATE)
  - status (VARCHAR)
  - credit_card_amount (DOUBLE)
  - coupon_amount (DOUBLE)
  - bank_transfer_amount (DOUBLE)
  - gift_card_amount (DOUBLE)
  - amount (DOUBLE)
Preview:
  (1, 1, datetime.date(2018, 1, 1), 'returned', 10.0, 0.0, 0.0, 0.0, 10.0)
  (2, 3, datetime.date(2018, 1, 2), 'completed', 20.0, 0.0, 0.0, 0.0, 20.0)
  (3, 94, datetime.date(2018, 1, 4), 'completed', 0.0, 1.0, 0.0, 0.0, 1.0)
  (4, 50, datetime.date(2018, 1, 5), 'completed', 0.0, 25.0, 0.0, 0.0, 25.0)
  (5, 64, datetime.date(2018, 1, 5), 'completed', 0.0, 0.0, 17.0, 0.0, 17.0)

Table: raw_customers
Columns:
  - id (INTEGER)
  - first_name (VARCHAR)
  - last_name (VARCHAR)
Preview:
  (1, 'Michael', 'P.')
  (2, 'Shawn', 'M.')
  (3, 'Kathleen', 'P.')
  (4, 'Jimmy', 'C.')
  (5, 'Katherine', 'R.')

Table: raw_incremental_test
Columns:
  - id (INTEGER)
  -  object_name (VARCHAR)
  -  object_type (VARCHAR)
Preview:
  (1, ' test', ' table')
  (2, ' test', ' table')
  (3, ' test', ' table')
  (4, ' test', ' table')
  (5, ' test', ' table')

Table: raw_orders
Columns:
  - id (INTEGER)
  - user_id (INTEGER)
  - order_date (DATE)
  - product_id (INTEGER)
  - status (VARCHAR)
Preview:
  (1, 1, datetime.date(2018, 1, 1), 1, 'returned')
  (2, 3, datetime.date(2018, 1, 2), 1, 'completed')
  (3, 94, datetime.date(2018, 1, 4), 1, 'completed')
  (4, 50, datetime.date(2018, 1, 5), 2, 'completed')
  (5, 64, datetime.date(2018, 1, 5), 2, 'completed')

Table: raw_payments
Columns:
  - id (INTEGER)
  - order_id (INTEGER)
  - payment_method (VARCHAR)
  - amount (INTEGER)
Preview:
  (1, 1, 'credit_card', 1000)
  (2, 2, 'credit_card', 2000)
  (3, 3, 'coupon', 100)
  (4, 4, 'coupon', 2500)
  (5, 5, 'bank_transfer', 1700)

Table: stg_customers
Columns:
  - customer_id (INTEGER)
  - first_name (VARCHAR)
  - last_name (VARCHAR)
Preview:
  (1, 'Michael', 'P.')
  (2, 'Shawn', 'M.')
  (3, 'Kathleen', 'P.')
  (4, 'Jimmy', 'C.')
  (5, 'Katherine', 'R.')

Table: stg_orders
Columns:
  - order_id (INTEGER)
  - customer_id (INTEGER)
  - order_date (DATE)
  - status (VARCHAR)
Preview:
  (1, 1, datetime.date(2018, 1, 1), 'returned')
  (2, 3, datetime.date(2018, 1, 2), 'completed')
  (3, 94, datetime.date(2018, 1, 4), 'completed')
  (4, 50, datetime.date(2018, 1, 5), 'completed')
  (5, 64, datetime.date(2018, 1, 5), 'completed')

Table: stg_payments
Columns:
  - payment_id (INTEGER)
  - order_id (INTEGER)
  - payment_method (VARCHAR)
  - amount (DOUBLE)
Preview:
  (1, 1, 'credit_card', 10.0)
  (2, 2, 'credit_card', 20.0)
  (3, 3, 'coupon', 1.0)
  (4, 4, 'coupon', 25.0)
  (5, 5, 'bank_transfer', 17.0)

In [2]:
import duckdb
import pandas as pd

# Connect to your DuckDB database
db_path = "/Users/bruno/dbt_testing/jaffle_shop/jaffle_shop.duckdb"
conn = duckdb.connect(db_path)

# Query to retrieve customers with negative number_of_orders
query = """
SELECT count(*) 
FROM orders
"""

# Execute the query and fetch results as a Pandas DataFrame
df = conn.execute(query).fetchdf()

# Display the results
if df.empty:
    print("\nNo customers found with negative number_of_orders.")
else:
    print("\nCustomers with negative number_of_orders:")
    print(df)

# Close the connection
conn.close()

Customers with negative number_of_orders:
   count_star()
0            99